html {
  width: 480px;
  margin: auto;
  height: 767px;
}

section, article {
  text-align: center;
}

div {
  position: relative;
  top: 43%;
}

.ef, .gh {
  height: 250px;
}

@media all and (min-width: 768px) {
  html {
    width: 960px;
  }
}